$color-blue: blue;
$color-darkblue: darkblue;
$color-green: green;
$color-darkgreen: darkgreen;
$color-yellow: goldenrod;
$color-darkgoldenrod: darkgoldenrod;
$color-red: red;
$color-darkred: darkred;
$color-purple: purple;
$color-darkmagenta: darkmagenta;

$font-size-base: 1.6rem;
